name: Pull Request CI

on:
  pull_request:

jobs:
  lint:
    runs-on: self-hosted
    steps:
      - name: Configure Linter
        run: echo "Configuring Linter..."

  unit-tests:
    runs-on: self-hosted
    needs: lint
    steps:
      - name: Set up Testing Environment
        run: echo "Setting up Testing Environment..."

  build:
    runs-on: self-hosted
    needs: unit-tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Build Application
        run: npm run build
